@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400&display=swap');

$primary-color: #61E8DC;
$secondary-color: #C4C4C4;

$standard-font: 'Roboto', sans-serif, 200;
$header-font: 'Roboto', sans-serif, 400;

$font-size-header: 40px;
$font-size-subheader: 24px;
$font-size-paragraph: 16px;

$standard-padding: 8px;
$button-padding: 16px 32px;

$standard-radius: 8px;
$hard-radius: 16px;

$standard-transition: .7s ease;

$standard-shadow: 0 0 10px rgba(211, 211, 211, 0.25);