// Specific CSS for your home-page

// header section
.header {
  background-image: url("https://images.unsplash.com/photo-1563569612708-eaffb3ab7986?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3289&q=80");
  background-size:cover;
  height: 720px;
}

.header-text {
  margin-left: 240px;
  h1 {
    margin-top: 160px;
    padding-left: 0px;
    font-size: 48px;
    margin-bottom: -32px;
    color: white;
  }
  .generated-text-landingpage {
    color: $primary-color;
    font-size: 48px;
    font-weight: bold;
  }
  .subheader-landingpage {
    color: white;
    font-size: 16px;
  }
}

.searchbar-landingpage {
  form {
    text-align: left;
    margin-left: 240px;
  }
  .algolia-places {
    width: 400px;
    form {
      text-align: left !important;
    }
    input {
      border-radius: 8px;
      width: 400px;
      height: 48px;
      font-size: 16px;
      text-align: left !important;
    }
  }
}

.subheader-categories {
  height: 100px;
  background-color: white;
  text-align: center;
  padding: 24px 0px;
  .subheader-title {
    font-size: 20px;
  }
  .fa-quote-left {
    color: $primary-color;
    opacity: .5;
    margin-left: -160px;
  }
  .fa-quote-right {
    color: $primary-color;
    opacity: .5;
    margin-right: -160px;
    margin-top: -24px;
  }
}

// about section
.about-section {
  margin-top: 80px;
  width: 100%;
  min-height: 600px;
  text-align: center;
  padding: 80px 240px;
  background-color: #F2F4F8;
  img {
    width: 80%;
    border-radius: 0px 0px 0px 100px;
    box-shadow: 0px 0px 10px rgb(216, 216, 216);
  }
  .title-about {
    font-size: 32px;
    text-align: left !important;
    color: #171C2C;
  }
  .subtitle-about {
    font-size: 16px;
    text-align: left !important;
    color: #8A99B6;
  }
}

.about-count-title {
  margin: 40px 0px 16px 0px;
  font-size: 56px;
  color: $primary-color;
  background-color: transparent;
  border: none;
  text-align: center;
  width: 50%;
}

.about-count-description {
  font-size: 16px;
  color: #8A99B6;
  margin-top: -20px;
  text-align: center;
}


// reviews section
.reviews-section {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 120px;
  padding-right: 120px;
  background-color: white;
  h2 {
    padding-bottom: 72px;
    text-align: center;
  }
  strong {
    color: $primary-color;
  }
}

.review-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  margin-bottom: 57px;
  height: 300px;
}

.review-card-items {
  margin: auto;
}

.review-image {
  width: 70%;
  background-size: cover;
  background-position: center;
}

.review-card-author {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-card-underline {
  height: 1px;
  background: rgba(196, 196, 196, 0.8);
  width: 90%;
  margin: auto;
  margin-top: 8px;
}

.review-card-text {
  margin: 15px 30px 15px 30px;
}

.avatar-large {
  width: 120px;
  border-radius: 50%;
  padding: 16px;
  align-items: center;
}

.review-card h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  padding-bottom: 8px;
}

.review-card p {
  font-size: 16px;
  opacity: 0.7;
  margin: 0;
  text-align: center;
  padding-bottom: 16px;
}

.review-card .review-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

// buttons
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $primary-color;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $primary-color;
  color: white;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .reviews-section {
    padding-right: 10px;
    padding-left: 10px;
  }

  .review-image {
    display: none;
  }

  .review-card {
    height: auto;
  }

  .banner-homepage-right {
    width: 0;
  }

  .banner-homepage-left {
    padding-left: 0;
  }

  .banner-search-bar {
      width: 75%;
  }

  .activities-section {
    padding-left: 10px;
    padding-right: 10px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
