.header-create {
    margin: 40px auto;
    text-align: center;
}

.create-form {
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: -80px;
    width: 1300px;
    height: 640px;
    padding-top: 80px;
    border-radius: 80px;
    .create-field-title {
        border: 1px solid $primary-color;
        margin-bottom: 32px;
        padding: 8px 16px;
        box-shadow: $standard-shadow;
        width: 500px;
    }
    .create-field-desc {
        margin: 0 auto;
        margin-bottom: -8px;
        border: 1px solid $primary-color;
        padding: 8px 16px;
        box-shadow: $standard-shadow;
        width: 500px;
    }
    .create-field-location {
        margin-left: auto;
        margin-right: auto;
        border: 1px solid $primary-color;
        padding: 8px 16px;
        box-shadow: $standard-shadow;
        border-radius: 1px;
    }
    .algolia-places {
        width: 500px;
        margin-bottom: 32px;
      }
    .create-field-date {
        margin-bottom: 32px;
        border: 1px solid $primary-color;
        padding: 8px 16px;
        box-shadow: $standard-shadow;
        width: 500px;
    }
    .create-field-submit {
        margin-bottom: 40px;
        padding: 8px 120px;
    }
    .form-control-file {
        width: 300px;
        display: inline;
        margin: 0 auto;
    }
}

form label {
    display: inline-block !important;
}

.control-label {
    margin-top: 32px;
}

.category-choices {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 8px auto 24px auto;
    width: 65%;
    & input {
        display: none;
    }
  }

.category {
    cursor: pointer;
    & i {
        cursor: pointer;
    }
    & label {
        cursor: pointer;
        border: 1px solid $primary-color;
        background-color: $primary-color;
        padding: 8px 16px;
        max-width: 160px;
        color: white;
        margin-bottom: 8px;
        height: 40px;
        border-radius: 16px;
        &.active {
            background-color: white;
            border: 1px solid $primary-color;
            color: $primary-color;
            opacity: .5;
        }
    }
}