//scss file for profile show page
// profile-top section
.d-grid{
  display: grid;
}

.banner-grid {
  grid-template-columns: 2fr 3fr;
  margin-right: -2rem;
  z-index: 2;
  display: flex;
}

.profile-top-left {
  padding-bottom: 64px;
  padding-left: 120px;
  padding-right: 120px;
  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.profile-top-right {
  padding-bottom: 64px;
  background-color: white;
  h2 {
    text-align: left;
    font-size: 40px;
    text-shadow: 0px 0px 4px lightgrey;
  }
  h3 {
    font-size: 32px;
    font-size: 16px;
    color: $secondary-color;
  }
  h4 {
    font-size: 16px;
    color: $secondary-color
  }
  p {
    padding: 8px;
    font-size: 16px;
  }
}

.profile-top-right {
  padding-bottom: 64px;
  background-color: white;
}

.info-container {
  display: flex;
  align-items: baseline;
  height: 32px;
}

.social-media-container {
  display: flex;
  margin-top: 20px;
  a {
    padding: 5px 25px 5px 0;
  }
}

.edit-profile-button {
  margin-top: auto;

  p {
    padding: 0;
  }
}

// profile-requests-section
.profile-requests-section {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 120px;
  padding-right: 120px;
  background: rgba(196, 196, 196, 0.49);
  h2 {
    padding-bottom: 72px;
  }
}
.profile-cards {
  text-align: center;
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-gap: 16px;
}
.header-profile {
  text-align: center;
  margin: 40px;
  font-size: $font-size-header;
  font-family: $header-font;
}
.con {
  padding: 0px 80px;
}
.card-body {
  padding: 0px;
}
.card-profile {
  border: none;
  border-radius: $standard-radius;
  box-shadow: $standard-shadow;
  margin-bottom: 24px;
  text-align: center;
  padding-bottom: 40px;
  min-height: 360px;
  transform: scale(1);
  transition: $standard-transition;
  &:hover {
    transform: scale(1.04);
  }
  .title-profile {
    text-align: center;
    font-size: 20px;
    padding: 0px 8px;
  }
  .card-img-profile {
    border-radius: $standard-radius $standard-radius 0 0;
    width: 100%;
    height: 120px;
    object-fit: cover;
  }
  .user-name-profile {
    margin-left: 8px;
    margin-top: 8px;
  }
  .user-social-icons {
    margin-right: -8px;
    margin-top: 8px;
    color: $primary-color;
    i {
      padding-right: 8px;
    }
  }
  .date-profile {
    margin-bottom: 40px;
  }
  .profile-pic-profile {
    text-align: center;
    img {
      margin-left: -8px;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      object-fit: cover;
      margin-top: -40px;
      box-shadow: $standard-shadow;
    }
    i {
      float: right;
    }
  }
}
// profile-events-section
.profile-events-section {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 120px;
  padding-right: 120px;
  background: rgba(196, 196, 196, 0.49);
  h2 {
    padding-bottom: 72px;
  }
}

.card-img-event-profile {
  border-radius: $standard-radius $standard-radius 0 0;
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.cancel-edit-event{
  text-align: center;
}

.cancel-event{
  color: red;

  &:hover {
    color: red;
    text-decoration: none;
  }
}

