.cards {
  .card-event-image{
    width: 190px;
  }
}


.d-grid{
  display: grid;
}

.grid-request{
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}




.card-request {
  overflow: hidden;
  width: 75%;
  background: white;
  display: flex;
  align-items: center;
  margin: 0px 0px 16px 0px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-request-host {
  background: white;
  display: flex;
  align-items: center;
  margin: 0px 0px 16px 0px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-request img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-request h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-request p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-request-infos {
  padding: 16px;
  margin: 0px 0px 0px 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.section_title {
  display: inline-block;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  display: inline-block;
  margin: 0 auto;
  padding: 16px;
}

.pending {
  color: goldenrod;
}

.accepted {
  color: green;
}
.rejected {
  color: red;
}
