.header-banner{
  padding-bottom: 10rem!important;
  padding-top: 10rem!important;
  background-repeat: no-repeat;
  background-size: cover;
}

.shape{
  position: absolute;
  pointer-events: none;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transform-origin: top center;
  width: 100%;
  height: auto;
  transform: scale(2);
  color: white !important;
}

.text-white{
  color: white !important;
}

.lcard{
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid #f1f4f8;
  border-radius: .375rem;
  position: relative;
  width: 100%;
}


.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px;
}

.shadow-light-lg {
    box-shadow: 0 1.5rem 4rem rgba(22,28,45,.05)!important;
}

.lcard-body {
    display: block;
    -webkit-box-flex: 0;
    flex-grow: 0;
    padding: 1rem !important;
}

@media (min-width: 768px) {
  .mt-md-n6, .my-md-n6 {
      margin-top: -2rem!important;
  }
}

@media (min-width: 768px) {
  .pb-md-11, .py-md-11 {
      padding-bottom: 6rem!important;
  }
}

@media (min-width: 768px) {
  .border-bottom-md-0 {
      border-bottom: 0!important;
  }
}


@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1040px;
  }
}

[class^=container] {
    position: relative;
    z-index: 1;
}


@media (min-width: 768px) {
  .col-md-3 {
      -webkit-box-flex: 0;
      flex: 0 0 25%;
      max-width: 25%;
  }
}

@media (min-width: 768px) {
  .d-md-block {
      display: block!important;
  }
}

@media (min-width: 768px) {
  .col-md-3 {
      -webkit-box-flex: 0;
      flex: 0 0 25%;
      max-width: 25%;
  }
}


