.navbar-circl {
  justify-content: space-between;
  background: transparent;
  position: fixed !important;
  z-index: 1000;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  transition: 0.5s background-color ease;
}

.navbar-circl .navbar-collapse {
  flex-grow: 0;
}


.navbar-circl-white{
  background-color: white;
}

